body {
  margin: 0;
  padding: 0;
}

.animation {
  grid-area: animation;
}

content {
  grid-area: content;
  display: flex;
  height: 75vh;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  grid-gap: 10px 20px;
  grid-template-rows: 100px 1fr auto;
  grid-template-columns: 1fr 200px;
  grid-template-areas:
    "header  header"
    "content aside"
    "footer footer";

  @media (max-width: 600px) {
    grid-gap: 0;
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header "
      "content"
      "aside  "
      "footer ";
  }
}

header,
footer {
  color: white;
  background-color: teal;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  height: 10vh;
}

#rocket {
  position: relative;
  animation: monFrame 3s linear 3s infinite alternate;
}
@keyframes monFrame {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  50% {
    left: 500px;
    top: 0px;
  }
  75% {
    left: 800px;
    top: 0px;
  }
  100% {
    left: 1100px;
    top: 0px;
  }
}
